<div class="title">American Sign Language Digits Recognition</div>
<div class="load-model"><button class="load-button" (click)="loadModel();" >Load model</button><span *ngIf="showModel" style="size: 5px;margin-left:2px">&#9989;</span></div>
<div class="image-container"><img #image id="my-image" height="400px" width="400px" [src]="imageSrc || 'https://placehold.jp/abaede/fff/400x400.png?text=Please%20upload%20image%20here&css=%7B%22border-radius%22%3A%2215px%22%2C%22background%22%3A%22%20-webkit-gradient(linear%2C%20left%20top%2C%20left%20bottom%2C%20from(%23666666)%2C%20to(%23cccccc))%22%2C%22opacity%22%3A%220.3%22%7D'"></div>
<div class="file-selector"><input type="file" (change)="onFileSelected($event);"/></div>
<div class="predict"><button class="predict-button" (click)="predict($event);">Predict</button></div>
<div class="result" *ngIf="showResult">Predicted Digit = {{output}}</div>

<router-outlet></router-outlet>
